header
    .header
        .header_top
            .header_top_left 
                a(href="#").mainTitle w3schools
                    span .com
            .header_top_right
                p.texty THE WORLD'S LARGEST WEB DEVELOPER SITE
                button.btn LOG IN
        .header_bottom
            .header_bottom_left
                ul.list
                    li
                        button.btn TUTORIALS 
                            .triangle 
                                img(src="assets/img/triangle.png", alt="").triangle__img
                        .down__modal
                            .down__modal__block 
                                .down__modal__block__title HTML and CSS 
                                a(href="#").down__modal__block__text Learn HTML 
                                a(href="#").down__modal__block__text Learn CSS 
                                a(href="#").down__modal__block__text Learn Bootstrap 
                                a(href="#").down__modal__block__text Learn W3.CSS 
                                a(href="#").down__modal__block__text Learn Colors 
                                a(href="#").down__modal__block__text Learn Icons 
                                a(href="#").down__modal__block__text Learn Graphics 
                                a(href="#").down__modal__block__text Learn SVG 
                                a(href="#").down__modal__block__text Learn Canvas 
                                a(href="#").down__modal__block__text Learn How To 
                                a(href="#").down__modal__block__text Learn Sass
                            .down__modal__block 
                                .down__modal__block__title JavaScript 
                                a(href="#").down__modal__block__text Learn JavaScript 
                                a(href="#").down__modal__block__text Learn jQuery 
                                a(href="#").down__modal__block__text Learn React
                                a(href="#").down__modal__block__text Learn AngularJS
                                a(href="#").down__modal__block__text Learn JSON 
                                a(href="#").down__modal__block__text Learn AJAX 
                                a(href="#").down__modal__block__text Learn AppML 
                                a(href="#").down__modal__block__text Learn W3.JS
                            .down__modal__block 
                                .down__modal__block__title Programming 
                                a(href="#").down__modal__block__text Learn Python 
                                a(href="#").down__modal__block__text Learn Java 
                                a(href="#").down__modal__block__text Learn C++ 
                                a(href="#").down__modal__block__text Learn C# 
                                a(href="#").down__modal__block__text Learn R 
                            .down__modal__block 
                                .down__modal__block__title Server Side
                                a(href="#").down__modal__block__text Learn SQL 
                                a(href="#").down__modal__block__text Learn PHP 
                                a(href="#").down__modal__block__text Learn ASP 
                                a(href="#").down__modal__block__text Learn Node.js 
                                a(href="#").down__modal__block__text Learn Raspberry Pi
                            .down__modal__block 
                                .down__modal__block__title Web Building 
                                a(href="#").down__modal__block__text Web Templates 
                                a(href="#").down__modal__block__text Web Statictics 
                                a(href="#").down__modal__block__text Web Sertificates 
                                a(href="#").down__modal__block__text Web Editor 
                                a(href="#").down__modal__block__text Web Development 
                                a(href="#").down__modal__block__text Test Your Typing Speed 
                                a(href="#").down__modal__block__text Play a Code Game
                            .down__modal__block 
                                .down__modal__block__title Artificial Intelligence 
                                a(href="#").down__modal__block__text Learn AI 
                                a(href="#").down__modal__block__text Learn Machine Learning 
                                a(href="#").down__modal__block__text Learn Data Science
                                a(href="#").down__modal__block__text Learn Pandas 
                                a(href="#").down__modal__block__text Learn Colors 
                                a(href="#").down__modal__block__text Learn NumPy
                            .down__modal__block 
                                .down__modal__block__title XML Tutorials 
                                a(href="#").down__modal__block__text Learn XML 
                                a(href="#").down__modal__block__text Learn XML AJAX 
                                a(href="#").down__modal__block__text Learn XML DOM 
                                a(href="#").down__modal__block__text Learn XML DTD
                                a(href="#").down__modal__block__text Learn XML Schema
                                a(href="#").down__modal__block__text Learn XSLT
                                a(href="#").down__modal__block__text Learn XPath 
                                a(href="#").down__modal__block__text Learn XQuery
                    li 
                        button.btn REFERENCES
                            .triangle 
                                img(src="assets/img/triangle.png", alt="").triangle__img
                        .down__modal
                            .down__modal__block 
                                .down__modal__block__title HTML 
                                a(href="#").down__modal__block__text HTML Tag Reference
                                a(href="#").down__modal__block__text HTML Browser Support 
                                a(href="#").down__modal__block__text HTML Event Reference 
                                a(href="#").down__modal__block__text HTML Color Reference 
                                a(href="#").down__modal__block__text HTML Attribute Reference 
                                a(href="#").down__modal__block__text HTML Canvas Reference 
                                a(href="#").down__modal__block__text HTML SVG Reference 
                                a(href="#").down__modal__block__text Google Maps Reference 
                            .down__modal__block 
                                .down__modal__block__title CSS 
                                a(href="#").down__modal__block__text CSS Reference 
                                a(href="#").down__modal__block__text CSS Browser Support 
                                a(href="#").down__modal__block__text CSS Selector Reference
                                a(href="#").down__modal__block__text Bootstrap 3 Reference
                                a(href="#").down__modal__block__text Bootstrap 4 Reference
                                a(href="#").down__modal__block__text W3.CSS Reference
                                a(href="#").down__modal__block__text Icon Reference 
                                a(href="#").down__modal__block__text Sass Reference
                            .down__modal__block 
                                .down__modal__block__title JavaScript
                                a(href="#").down__modal__block__text JavaScript Reference 
                                a(href="#").down__modal__block__text HTML DOM Reference
                                a(href="#").down__modal__block__text jQuery Reference 
                                a(href="#").down__modal__block__text AngularJS Reference
                                a(href="#").down__modal__block__text AppML Reference
                                a(href="#").down__modal__block__text W3.JS Reference
                            .down__modal__block 
                                .down__modal__block__title Server Side
                                a(href="#").down__modal__block__text SQL Reference 
                                a(href="#").down__modal__block__text PHP Reference
                                a(href="#").down__modal__block__text ASP Reference
                            .down__modal__block 
                                .down__modal__block__title Character Sets
                                a(href="#").down__modal__block__text HTML Character Sets
                                a(href="#").down__modal__block__text HTML ASCII
                                a(href="#").down__modal__block__text HTML ANSI
                                a(href="#").down__modal__block__text HTML Windows-1252
                                a(href="#").down__modal__block__text HTML Windows-1252
                                a(href="#").down__modal__block__text HTML ISO-8859-1
                                a(href="#").down__modal__block__text HTML Symbols
                                a(href="#").down__modal__block__text HTML UTF-8
                            .down__modal__block 
                                .down__modal__block__title Programming
                                a(href="#").down__modal__block__text Python Reference
                                a(href="#").down__modal__block__text Java Reference
                            .down__modal__block 
                                .down__modal__block__title XML
                                a(href="#").down__modal__block__text XML DOM Reference
                                a(href="#").down__modal__block__text XML Http Reference 
                                a(href="#").down__modal__block__text XSLT Reference
                                a(href="#").down__modal__block__text XML Schema Reference
                    li 
                        button.btn  EXAMPLES
                            .triangle 
                                img(src="assets/img/triangle.png", alt="").triangle__img
                        .down__modal
                            .down__modal__block 
                                .down__modal__block__title HTML and CSS 
                                a(href="#").down__modal__block__text HTML Examples
                                a(href="#").down__modal__block__text CSS Examples
                                a(href="#").down__modal__block__text W3.CSS Examples    
                                a(href="#").down__modal__block__text Bootstrap Examples
                                a(href="#").down__modal__block__text How To Examples
                                a(href="#").down__modal__block__text SVG Examples
                                a(href="#").down__modal__block__text Web Templates
                            .down__modal__block 
                                .down__modal__block__title JavaScript 
                                a(href="#").down__modal__block__text JavaScript Examples
                                a(href="#").down__modal__block__text HTML DOM Examples
                                a(href="#").down__modal__block__text jQuery Examples
                                a(href="#").down__modal__block__text AngularJS Examples
                                a(href="#").down__modal__block__text AJAX Examples
                                a(href="#").down__modal__block__text W3.JS Examples
                            .down__modal__block 
                                .down__modal__block__title Programming 
                                a(href="#").down__modal__block__text Python Examples
                                a(href="#").down__modal__block__text Java Examples
                                a(href="#").down__modal__block__text C++ Examples
                                a(href="#").down__modal__block__text C# Examples
                            .down__modal__block 
                                .down__modal__block__title Server Side
                                a(href="#").down__modal__block__text SQL Examples 
                                a(href="#").down__modal__block__text PHP Examples 
                                a(href="#").down__modal__block__text ASP Examples
                            .down__modal__block 
                                .down__modal__block__title XML 
                                a(href="#").down__modal__block__text XML Examples 
                                a(href="#").down__modal__block__text XSLT Examples
                                a(href="#").down__modal__block__text XPath Examples 
                                a(href="#").down__modal__block__text XML Schema Examples
                                a(href="#").down__modal__block__text AJAX Examples
                                a(href="#").down__modal__block__text TSVG Examples
                            .down__modal__block 
                                .down__modal__block__title Quizzes 
                                a(href="#").down__modal__block__text HTML Quiz
                                a(href="#").down__modal__block__text CSS Quiz
                                a(href="#").down__modal__block__text JavaScript Quiz
                                a(href="#").down__modal__block__text SQL Quiz
                                a(href="#").down__modal__block__text PHP Quiz
                                a(href="#").down__modal__block__text Python Quiz
                                a(href="#").down__modal__block__text jQuery Quiz    
                                a(href="#").down__modal__block__text Bootstrap Quiz
                                a(href="#").down__modal__block__text Bootstrap 4 Quiz
                                a(href="#").down__modal__block__text Java Quiz
                                a(href="#").down__modal__block__text C++ Quiz
                                a(href="#").down__modal__block__text C# Quiz
                                a(href="#").down__modal__block__text XML Quiz
                                a(href="#").down__modal__block__text R Quiz
                    li 
                        button.btn  EXERCISES
                            .triangle 
                                img(src="assets/img/triangle.png", alt="").triangle__img
                        .down__modal
                            .down__modal__block 
                                .down__modal__block__title Exercises
                                a(href="#").down__modal__block__text HTML Exercises 
                                a(href="#").down__modal__block__text CSS Exercises
                                a(href="#").down__modal__block__text JavaScript Exercises
                                a(href="#").down__modal__block__text SQL Exercises
                                a(href="#").down__modal__block__text PHP Exercises
                                a(href="#").down__modal__block__text Python Exercises
                                a(href="#").down__modal__block__text jQuery Exercises
                                a(href="#").down__modal__block__text Java Exercises
                                a(href="#").down__modal__block__text Bootstrap Exercises
                                a(href="#").down__modal__block__text Bootstrap 4 Exercises
                                a(href="#").down__modal__block__text C++ Exercises
                                a(href="#").down__modal__block__text C# Exercises
                                a(href="#").down__modal__block__text R Exercises
                            .down__modal__block 
                                .down__modal__block__title Quizzes 
                                a(href="#").down__modal__block__text HTML Quiz
                                a(href="#").down__modal__block__text CSS Quiz
                                a(href="#").down__modal__block__text JavaScript Quiz
                                a(href="#").down__modal__block__text SQL Quiz
                                a(href="#").down__modal__block__text PHP Quiz
                                a(href="#").down__modal__block__text Python Quiz
                                a(href="#").down__modal__block__text jQuery Quiz
                                a(href="#").down__modal__block__text Java Quiz
                                a(href="#").down__modal__block__text Bootstrap Quiz
                                a(href="#").down__modal__block__text Bootstrap 4 Quiz
                                a(href="#").down__modal__block__text C++ Quiz   
                                a(href="#").down__modal__block__text C# Quiz
                                a(href="#").down__modal__block__text R Quiz
                                a(href="#").down__modal__block__text XML Quiz
                            .down__modal__block 
                                .down__modal__block__title Programming 
                                a(href="#").down__modal__block__text Learn Python 
                                a(href="#").down__modal__block__text Learn Java 
                                a(href="#").down__modal__block__text Learn C++ 
                                a(href="#").down__modal__block__text Learn c# 
                                a(href="#").down__modal__block__text Learn R 
                            .down__modal__block 
                                .down__modal__block__title Courses
                                a(href="#").down__modal__block__text HTML Course
                                a(href="#").down__modal__block__text CSS Course 
                                a(href="#").down__modal__block__text JavaScript Course
                                a(href="#").down__modal__block__text Front End Course
                                a(href="#").down__modal__block__text SQL Course
                                a(href="#").down__modal__block__text Python Course
                                a(href="#").down__modal__block__text jQuery Course
                                a(href="#").down__modal__block__text PHP Course
                                a(href="#").down__modal__block__text C# Course
                                a(href="#").down__modal__block__text C++ Course
                                a(href="#").down__modal__block__text XML Course
                    li 
                        a(href="#").btn  COURSES
            .header_bottom_right
                button.darkMode(onclick="myFunction()")
                    img(src="../assets/img/adjust-contrast.png", alt="")
                button
                    img(src="../assets/img/worldwide.png", alt="")
                button
                    img(src="../assets/img/search.png", alt="")
