header
    .header
        .header_top
            .header_top_left 
                a(href="#").mainTitle w3schools
                    span .com
            .header_top_right
                p THE WORLD'S LARGEST WEB DEVELOPER SITE
                button.btn LOG IN
        .header_bottom
            .header_bottom_left
                ul.list
                    li
                        button.btn  HOME 
                            .triangle 
                    li 
                        button.btn HTML
                            .triangle 
                    li 
                        button.btn   CSS
                            .triangle 
                    li 
                        button.btn   JAVASCRIPT
                            .triangle 
                    li 
                        button.btn   PYTHON
                            .triangle 
            .header_bottom_right
                button.darkMode(onclick="myFunction()")
                    img(src="../assets/img/adjust-contrast.png", alt="")
                button
                    img(src="../assets/img/worldwide.png", alt="")
                button
                    img(src="../assets/img/search.png", alt="")
