header
    .header
        .header_top
            .header_top_left 
                a(href="#") w3schools
                    span .com
            .header_top_right
                p THE WORLD'S LARGEST WEB DEVELOPER SITE
                button.btn LOG IN
        .header_bottom
            .header_bottom_left
                ul.list
                    li
                        a(href="#") HOME 
                    li 
                        a(href="#")  HTML
                    li 
                        a(href="#")  CSS
                    li 
                        a(href="#")  JAVASCRIPT
                    li 
                        a(href="#")  PYTHON
            .header_bottom_right
                button
                    img(src="../assets/img/adjust-contrast.png", alt="")
                button
                    img(src="../assets/img/worldwide.png", alt="")
                button
                    img(src="../assets/img/search.png", alt="")
