@import 'vars';

header{
  background-color: #ffffff;
  padding-top: 10px;
  width: 100%;
  position: fixed;
    .header{
      &_top{
        padding: 0px 15px;
        width: 100%;
        &_left{
          float: left;
          a{
            font-size: 45px;
            color: #555555;
            transition: all ease 0.3s;
            span{
              color: #4CAF50;
            }
            &:hover{
              color: #4CAF50;
              transition: all ease 0.3s;
            }
          }
        }
        &_right{
          float: right;
          display: flex;
          align-items: center;
          p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            letter-spacing: 4px;
            transition: all ease 0.3s;
          }
          button{
            margin-left: 20px;
            border-radius: 5px;
            padding: 8px;
            background-color: #4CAF50;
            color: #fff;
            border: 0;
            font-size: 18px;
            &:hover{
              background-color: #3d8d40;
              transition: all ease 0.3s;
            }
          }
        }
      }
      &_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #4CAF50;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        &_left{
          float: left;
          .list{
            li{
              position: relative;
              float: left;
              &:nth-child(2){
                .down__modal.show{
                  left: -160px;
                  
                }
              }
              &:nth-child(3){
                .down__modal.show{
                  left: -331px;
                }
              }
              &:nth-child(4){
                .down__modal.show{
                  left: -480px;
                }
              }
              &:nth-child(5){
                .down__modal.show{
                  left: -640px;
                }
              }
              .btn{
                background-color: #4CAF50;
                font-family: 'recursive';
                font-size: 18px;
                border: 0;
                padding: 20px;
                color: #fff;
                float: left;
                width: 100%;
                &:hover{
                  background-color: #fff;
                  color: #000;
                  .triangle__img{
                    filter: invert(1);
                  }
                  transition: all ease 0.3s;
                }
                &:focus{
                  background-color: #fff;
                  color: #000;
                  .triangle__img{
                    filter: invert(1);
                    transition: all ease 0.3s;
                  }
                }
                .triangle{
                  float: right;
                  &__img{
                    width: 15px;
                    height: auto;
                    margin-left: 10px;
                    &:hover{
                      background-color: unset;
                    }
                  }
                }
              }
              .btn.show{
                .triangle{
                  .triangle__img{
                    transform: rotate(180deg);
                  }
                }
              }
              .down__modal{
                transition: all ease 0.3s;
                background-color: #f1f1f1;
                padding: 40px 20px;
                display: none;
                position: absolute;
                width: 100vw;
                top: 61px;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                &__block{
                  float: left;
                  margin-right: 90px;
                  &__title{
                    font-size: 28px;
                    font-weight: bold;
                  }
                  &__text{
                    display: block;
                    margin-top: 15px;
                    font-size: 20px;
                  }
                }
              }
              .down__modal.show{
                display: block;
              }
            }
          }
        }
        &_right{
          float: right;
          margin-top: 15px;
          button{
            margin-right: 20px;
            border: 0;  
            background-color: unset;
            :hover{
              filter: invert(1);
            }
            img{
              width: 32px;
              height: auto;
            }
          }
        }
      }
    }
}