extends ../blocks/temp.pug

block content
    .container 
        .html__slider
            .html__slider__left
                .html__slider__left__title HTML
                .html__slider__left__text Web-sahifalarni yaratish uchun til
                .html__slider__left__links 
                    a(href="#").link__left HTMLni o'rganish 
                    a(href="#").link__right HTML havolalari
            .html__slider__right
                .html__slider__right__example
                    .html__slider__right__example__title HTMLga misol:
                    .html__slider__right__example__area
                        .top
                            span.tri <
                            span.attribute !DOCTYPE
                            .red html
                            span.tri >
                            br
                            span.tri <
                            span.attribute html
                            span.tri >
                            br
                            span.tri < 
                            span.attribute title
                            span.tri >
                            .text HTML Tutorial 
                            span.tri <
                            span.attribute /title
                            span.tri >
                            br
                            span.tri <
                            span.attribute body
                            span.tri >
                        br
                        br
                        .mid 
                            span.tri <
                            span.attribute h1
                            span.tri >
                            .text This is a heading
                            span.tri <
                            span.attribute /h1
                            span.tri >
                            br
                            span.tri <
                            span.attribute p
                            span.tri >
                            .text This is a paragraph
                            span.tri <
                            span.attribute /p
                            span.tri >
                        br
                        br
                        .bot 
                            span.tri <
                            span.attribute /body
                            span.tri >
                            br
                            span.tri <
                            span.attribute /html
                            span.tri >
        br
        br
        .css__slider
            .some
                .css__slider__left 
                .css__slider__left__example 
                    .css__slider__left__example__title CCSga misol: 
                    .css__slider__left__example__area
            .css__slider__right 
                .css__slider__right__title CSS
                .css__slider__right__text Web-sahifalarni yaratish uchun til
                .css__slider__right__links 
                    a(href="#").link__left HTMLni o'rganish 
                    a(href="#").link__right HTML havolalari

