extends ../blocks/temp.pug

block content
    .container 
        .html__slider
            .html__slider__left
                .html__slider__left__title HTML
                .html__slider__left__text The language for building web pages
                .html__slider__left__links 
                    a(href="#").link__left HTMLni o'rganish 
                    a(href="#").link__right HTML havolalari
            .html__slider__right
                .html__slider__right__example
                    .html__slider__right__example__title HTMLga misol:
                    .html__slider__right__example__area
                        .top
                            span.tri <
                            span.attribute !DOCTYPE
                            .red html
                            span.tri >
                            br
                            span.tri <
                            span.attribute html
                            span.tri >
                            br
                            span.tri < 
                            span.attribute title
                            span.tri >
                            .text HTML Tutorial 
                            span.tri <
                            span.attribute /title
                            span.tri >
                            br
                            span.tri <
                            span.attribute body
                            span.tri >
                        br
                        br
                        .mid 
                            span.tri <
                            span.attribute h1
                            span.tri >
                            .text This is a heading
                            span.tri <
                            span.attribute /h1
                            span.tri >
                            br
                            span.tri <
                            span.attribute p
                            span.tri >
                            .text This is a paragraph
                            span.tri <
                            span.attribute /p
                            span.tri >
                        br
                        br
                        .bot 
                            span.tri <
                            span.attribute /body
                            span.tri >
                            br
                            span.tri <
                            span.attribute /html
                            span.tri >
        .clear 

        .css__slider
    .bgc
        .container
            .css__slider__right 
                .css__slider__right__title CSS
                .css__slider__right__text The language for styling web pages
                .css__slider__right__links 
                    a(href="#").link__left CSSni o'rganish 
                    a(href="#").link__right CSS havolalari
            .css__slider__left 
                .css__slider__left__example 
                    .css__slider__left__example__title CCSga misol: 
                    .css__slider__left__example__area
                        .top 
                            span.attribute body
                            .text {
                            br
                            .red background-color
                            .text :
                            .tri lightblue 
                            .text ;
                            br
                            .text }
                            br
                            br
                        .mid
                            span.attribute h1
                            .text {
                            br
                            .red color
                            .text :
                            .tri white 
                            .text ;
                            br
                            .red text-align
                            .text :
                            .tri center
                            br
                            .text }
                            br 
                            br
                        .bot
                            span.attribute p
                            .text {
                            br
                            .red font-family
                            .text :
                            .tri verdana
                            .text ;
                            br
                            .red font-size
                            .text :
                            .tri 20px
                            br
                            .text }

    .container
        .js__slider
            .js__slider__left
                .js__slider__left__title JavaScript
                .js__slider__left__text The language for programming web pages
                .js__slider__left__links 
                    a(href="#").link__left JavaScriptni o'rganish 
                    a(href="#").link__right JavaScript havolalari
            .js__slider__right
                .js__slider__right__example
                    .js__slider__right__example__title JavaScriptga misol:
                    .js__slider__right__example__area
                        .top
                            span.tri <
                            span.attribute button 
                            span.red onclick 
                            span.tri ="myFunction()"
                            span.tri >
                            .text Click Me! 
                            span.tri <
                            span.attribute /button
                            span.tri >
                            br
                            br
                        .bot 
                            span.tri <
                            span.attribute script
                            span.tri >
                            br
                            .bot__extra 
                                span.tri function 
                                span.text myFunction() {
                                br
                                span.tri var
                                .text x = document.getElementById(
                                span.attribute "demo" 
                                .text );
                                br
                                .text x.style.fontSize = 
                                span.attribute "25px"
                                .text ; 
                                br
                                .text x.style.color = 
                                span.attribute "red"
                                .text ;
                                br
                                .text }
                            br
                            .tri <
                            span.attribute /script
                            .tri >
        .clear
    .python
        .container 
            .python__slider 
                .python__slider__title Python
                .python__slider__text A programming language 
                .python__slider__link 
                    a(href="#") LEARN PYTHON 
    .scroll
        button.scrollBtn(onclick="topFunction()")
            img(src="assets/img/up-arrow.png", alt="")