@import 'blocks/vars';
@import 'blocks/head';

body,*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@font-face{
  font-family: 'recursive';
  src: url(../fonts/Recursive-Regular.ttf);
}

body{
  font-family: 'recursive';
  transition: all ease 0.3s;
}


a{
  text-decoration: none;
  color: #000;
  &:hover{
    transition: all ease 0.3s;
  }
}
li{
  list-style: none;
}
button:focus{
  outline: 0;
}
button:hover{
  cursor: pointer;
  transition: all ease 0.3s;
}
input:focus{
  outline: 0;
}
textarea:focus{
  outline: 0;
}

.container{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.html__slider{
  margin-top: 150px;
  float: left;
  width: 100%;
  &__left{
    float: left;
    text-align: center;
    color: rgb(78, 78, 78);
    margin-left: 135px;
    margin-top: 100px;
    &__title{
      font-size: 75px;
      transition: all ease 0.3s;
    }
    &__text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 50px;
      transition: all ease 0.3s;
    }
    &__links{
      .link__left{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-right: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
      .link__right{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-left: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
    }
  }
  &__right{
    margin-top: 50px;
    float: right;
    &__example{
      background-color: #f1f1f1;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      padding: 40px 20px;
      transition: all ease 0.3s;
      &__title{
        font-size: 25px;
        margin-bottom: 10px;
      }
      &__area{
        padding: 10px;
        padding-bottom: 25px;
        width: 700px;
        background-color: #fff;
        border-left: 4px solid #4CAF50;
        transition: all ease 0.3s;
        .tri{
          color: mediumblue;
          float: left;
        }
        .attribute{
          color: brown;
          float: left;
        }
        .red{
          color: red;
          float: left;
          margin-left: 5px;
        }
        .text{
          float: left;
        }
      }
    }
  }
}



.clear{
  clear: both;
}
.bgc{
  background-color: #f1f1f1;
  width: 100%;
  height: 468px;
  transition: all ease 0.3s;
}


.css__slider{
  margin-top: 80px;
  background-color: red;
  width: 100%;
  &__left{
    margin-top: 30px;
    float: left;
    &__example{
      padding: 40px 20px;
      transition: all ease 0.3s;
      &__title{
        font-size: 25px;
        margin-bottom: 10px;
        transition: all ease 0.3s;
      }
      &__area{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        padding: 10px;
        padding-bottom: 25px;
        width: 700px;
        background-color: #fff;
        border-left: 4px solid #4CAF50;
        transition: all ease 0.3s;
        .tri{
          color: mediumblue;
          float: left;
        }
        .attribute{
          color: brown;
          float: left;
          margin-right: 10px;
        }
        .red{
          color: red;
          float: left;
          margin-left: 20px;
        }
        .text{
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  &__right{
    float: right;
    text-align: center;
    color: rgb(78, 78, 78);
    margin-right: 140px;
    margin-top: 100px;
    &__title{
      font-size: 75px;
      transition: all ease 0.3s;
    }
    &__text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 50px;
      transition: all ease 0.3s;
    }
    &__links{
      .link__left{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-right: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
      .link__right{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-left: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
    }
  }
}


.js__slider{
  margin-top: 30px;
  float: left;
  width: 100%;
  &__left{
    float: left;
    text-align: center;
    color: rgb(78, 78, 78);
    margin-left: 100px;
    margin-top: 100px;
    &__title{
      font-size: 75px;
      transition: all ease 0.3s;
    }
    &__text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 50px;
      transition: all ease 0.3s;
    }
    &__links{
      .link__left{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-right: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
      .link__right{
        color: #fff;
        background-color: rgb(78, 78, 78);
        margin-left: 5px;
        padding: 15px;
        &:hover{
          background-color: #ccc;
          color: #000;
        }
      }
    }
  }
  &__right{
    margin-top: 50px;
    float: right;
    &__example{
      background-color: #f1f1f1;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      padding: 40px 20px;
      transition: all ease 0.3s;
      &__title{
        font-size: 25px;
        margin-bottom: 10px;
      }
      &__area{
        padding: 10px;
        padding-bottom: 25px;
        width: 700px;
        background-color: #fff;
        border-left: 4px solid #4CAF50;
        transition: all ease 0.3s;
        .tri{
          color: mediumblue;
          float: left;
          margin-right: 5px;
          margin-left: 5px;
        }
        .attribute{
          color: brown;
          float: left;
        }
        .red{
          color: red;
          float: left;
          margin-left: 5px;
        }
        .text{
          float: left;
        }
        .bot{
          &__extra{
            margin-left: 20px;
            .tri{
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

.python{
  margin-top: 80px;
  padding: 100px 0px 100px 0px;
  background-color: #616161;
  .container{
    .python__slider{
      background-color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
      color: #4E4E4E;
      text-align: center;
      padding: 50px 0px 50px 0px;
      transition: all ease 0.3s;
      &__title{
        font-size: 75px;
        transition: all ease 0.3s;
      }
      &__text{
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 30px;
        transition: all ease 0.3s;
      }
      &__link{
        a{
          background-color: #616161;
          color: #fff;
          padding: 20px;
          font-size: 20px;
          &:hover{
            background-color: #ccc;
            color: #000;
          }
        }
      }
    }
  }
}

.scroll{
  .scrollBtn{
    transition: all ease 0.3s;
    border: 0;
    background-color: #4caf50;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 0px 15px 7px #4caf5059;
    position: fixed;
    bottom: -100px;
    right: 50px;
    img{
      width: 50px;
    }
  }
}

body.night{
  background-color: #181a1b;
  header{
    background-color: #181a1b;
    color: rgb(232, 230, 227);
  }
  .mainTitle{
    color: #B2ACA2;
  }
  .html__slider__right__example{
    background-color: #202324;
    color: rgb(232, 230, 227);
  }
  .html__slider__left{
    color: rgb(232, 230, 227);
  }
  .html__slider__right__example__area{
    background-color: #181a1b;
  }
  .bgc{
    background-color: #202324;
  }
  .css__slider__right{
    color: rgb(232, 230, 227);
  }
  .css__slider__left__example__area{
    background-color: #181a1b;
    color: rgb(232, 230, 227);
  }
  .css__slider__left__example__title{
    color: rgb(232, 230, 227);
  }
  .js__slider__left{
    color: rgb(232, 230, 227);
  }
  .js__slider__right__example__title{
    color: rgb(232, 230, 227);
  }
  .js__slider__right__example{
    background-color: #202324;
  }
  .js__slider__right__example__area{
    background-color: #181a1b;
    color: #fff;
  }
  .python{
    .container{
      .python__slider{
        background-color: #202324;
        color: rgb(232, 230, 227);
      }
    }
  }
  .header{
    .header_bottom{
      &_left{
        .list{
          li{
            .down__modal.show{
              background-color: #202324;
              .down__modal__block{
                &__text{
                  color: rgb(232, 230, 227);
                }
              }
            }
          }
        }
      }
    }
  }
}
